@media only screen and (max-width: 740px) {
  #name {
    height: 0.8em;
    padding: 10px 14px;
    font-size: 10px;
  }
  #name-label {
    font-size: 10px;
  }
  #name-helper-text {
    font-size: 10px;
  }
  #city {
    height: 0.8em;
    padding: 10px 14px;
    font-size: 10px;
  }
  #city-label {
    font-size: 10px;
  }
  #city-helper-text {
    font-size: 10px;
  }
  #phone {
    height: 0.8em;
    padding: 10px 14px;
    font-size: 10px;
  }
  #phone-label {
    font-size: 10px;
  }
  #phone-helper-text {
    font-size: 10px;
  }
}
