.css-ic39pb
  .MuiOutlinedInput-root.MuiInputBase-sizeSmall
  .MuiAutocomplete-input {
  margin-left: 20px;
  font-size: 13px;
}
.css-1k74z00.css-1k74z00.css-1k74z00 {
  margin-left: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .css-oxsoa5-MuiAutocomplete-root {
    height: 16px;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-q8lw68 {
    font-size: 1.1rem;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1u5ei5s {
    font-size: 1.1rem;
  }
  .css-1hbvpl3-MuiSvgIcon-root {
    font-size: 1.1rem;
  }
  .css-11zohuh-MuiSvgIcon-root {
    font-size: 1.1rem;
  }
  .MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-9l3uo3 {
    font-size: 0.6rem;
  }
  .css-1vbggne-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 0.6rem;
  }
  .MuiChip-root.MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault.MuiChip-filledDefault.css-g3j8dt-MuiChip-root {
    font-size: 0.65rem;
  }

  .css-oxsoa5-MuiAutocomplete-root {
    height: 20px;
  }
  .css-ic39pb {
    height: 20px;
  }
  #from {
    height: 1.25em;
    font-size: 8px;
    padding: 0px 6px;
    min-width: 100%;
    margin-left: 8px;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-vubbuv {
    font-size: 1.1rem;
  }
  #to {
    height: 1.25em;
    font-size: 8px;
    padding: 0px 6px;
    min-width: 100%;
    margin-left: 8px;
  }
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-sizeSmall.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-1wcdjql-MuiInputBase-root-MuiOutlinedInput-root {
    padding-bottom: 5px;
  }
  .MuiBox-root .css-zxidmm {
    margin-left: 0px;
  }
  .MuiBox-root .css-m6wntm {
    margin: 0;
  }
  #people {
    height: 0.8em;
    padding: 4.5px 14px;
    font-size: 8px;
    line-height: 0.6rem;
    margin-left: 5px;
  }
  #people-label {
    font-size: 10px;
  }
  #people-helper-text {
    font-size: 10px;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-z177mx-MuiSvgIcon-root-MuiSelect-icon {
    font-size: 10px;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.MuiSelect-iconOpen.css-1h1jq32-MuiSvgIcon-root-MuiSelect-icon {
    font-size: 10px;
  }
  #datepiker {
    font-size: 8px;
    padding: 4px 8px;
    line-height: 0;
  }
  #rankchairs {
    font-size: 8px;
    padding: 4px 14px;
    line-height: 0.6rem;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-q8lw68 {
    font-size: 1.3rem;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1u5ei5s {
    font-size: 1.3rem;
  }
  .css-1hbvpl3-MuiSvgIcon-root {
    font-size: 1.3rem;
  }
  .css-11zohuh-MuiSvgIcon-root {
    font-size: 1.3rem;
  }
  .MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-9l3uo3 {
    font-size: 0.8rem;
  }
  .css-1vbggne-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 0.8rem;
  }
  .MuiChip-root.MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault.MuiChip-filledDefault.css-g3j8dt-MuiChip-root {
    font-size: 0.7rem;
  }

  #from {
    height: 1.3em;
    font-size: 10px;
    padding: 0px 8px;
    min-width: 100%;
    margin-left: 5px;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-vubbuv {
    font-size: 1.1rem;
  }
  #to {
    height: 1.3em;
    font-size: 10px;
    padding: 0px 8px;
    min-width: 100%;
    margin-left: 5px;
  }
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-sizeSmall.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-1wcdjql-MuiInputBase-root-MuiOutlinedInput-root {
    padding-bottom: 6px;
  }
  .MuiBox-root .css-zxidmm {
    margin-left: 0px;
  }
  .MuiBox-root .css-m6wntm {
    margin: 0;
  }
  #people {
    height: 1em;
    padding: 6px 14px;
    font-size: 10px;
    line-height: 0.8rem;
    margin-left: 5px;
  }
  #people-label {
    font-size: 12px;
  }
  #people-helper-text {
    font-size: 12px;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-z177mx-MuiSvgIcon-root-MuiSelect-icon {
    font-size: 12px;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.MuiSelect-iconOpen.css-1h1jq32-MuiSvgIcon-root-MuiSelect-icon {
    font-size: 12px;
  }
  #datepiker {
    font-size: 10px;
    padding: 4px 4px;
    line-height: 0;
  }
  #rankchairs {
    font-size: 10px;
    padding: 6px 14px;
    line-height: 1rem;
    margin-left: 8px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1535px) {
  #from {
    max-width: 100%;
    font-size: 13px;
  }
  #to {
    max-width: 100%;
    font-size: 13px;
  }
}
