.css-ic39pb
  .MuiOutlinedInput-root.MuiInputBase-sizeSmall
  .MuiAutocomplete-input {
  margin-left: 18px;
  font-size: 13px;
}
.css-145w2hp-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-145w2hp-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-145w2hp-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  margin-left: 20px;
}
