.date {
  color: black;
}

.css-1q9zbch-MuiButtonBase-root-MuiPaginationItem-root.Mui-disabled {
  color: white;
}
.css-wjh20t-MuiPagination-ul {
  width: 345px;
  background-color: white;
  border-radius: 15px;
  height: 40px;
}
